<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.kronenpj.iqtimesheet.IQTimeSheet"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon_medium"
        android:label="@string/app_name"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".TimeSheetActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Yes, apparently all these are required to make everything consistent.
        Go figure -->
        <activity android:name=".AboutDialog" android:theme="@style/AppTheme"/>
        <activity android:name=".AddTaskHandler" android:theme="@style/AppTheme"/>
        <activity android:name=".ChangeDate" android:theme="@style/AppTheme"/>
        <activity android:name=".ChangeEntryHandler" android:theme="@style/AppTheme"/>
        <activity android:name=".ChangeTaskList" android:theme="@style/AppTheme"/>
        <activity android:name=".ChangeTime" android:theme="@style/AppTheme"/>
        <activity android:name=".EditDayEntriesHandler" android:theme="@style/AppTheme"/>
        <activity android:name=".EditTaskHandler" android:theme="@style/AppTheme"/>
        <activity android:name=".MyPreferenceActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ReviveTaskFragment" android:theme="@style/AppTheme"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8875506575139dc01a303afad239d45901bb6bee" />
    </application>
</manifest>
